body {
  background-color: white;
}
.title {
  background-image: url(Boston_Banner.jpg);

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  min-height: 180px;
  color: orange;
  text-align: center;
  font-size: 100px;

}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

nav{
  float: center;
}

nav{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}
nav:hover {
  background-color: #111;
}

h1 {
  background-color: black;
}
h2 {
  background-color: navy;
  color: red;
  text-align: center;
}
#ESPN {
  background-color: navy;
  color: orange;
  text-align: center;
}
.Website{
  background-color: navy;
  color: white;
  text-align: center;
}
p {
  text-align: center;
}
h6 {
  text-align: center;
}

}
